body {
  background-image: url(https://wallpaperplay.com/walls/full/4/e/0/67920.jpg);
}

h1 {
  text-align: center;
  color: antiquewhite;
}

h3 {
  text-align: center;
}

.big {
  font-size: 36px;
  color: antiquewhite;
}

.col-md-4 {
  color: wheat
}

.col-md-3 {
  color: wheat
}

.col-md-6 {
  color: wheat
}

.form-group {
  color: wheat
}

.reachout {
  border: 12px;
  border-color: blueviolet;
  color: antiquewhite;
}

.jumbotron {
  background: rgb(219, 149, 228);
  background: linear-gradient(90deg, rgba(219, 149, 228, 1) 27%, rgba(123, 64, 167, 1) 100%);
  opacity: 80%;
}

.lead {
  color: antiquewhite;
}

.card-body {
  color: #bd4aaa;
  font-style: oblique;
}